# Modelamiento
---

In [7]:
# Importamos paquetes
import numpy as np
import pandas as pd

In [8]:
import sys
sys.path.append('/home/mofoko/Documents/Metodologias/tdsp_template/src')
from nombre_paquete.database import data_loader
from nombre_paquete.visualization import plotting

In [11]:
import importlib
# Make changes to the module's code
# Reload the module
importlib.reload(data_loader)

In [13]:
db12_prep = data_loader.load_data_feat()
db12_prep

,q,lat,lng,elevation,A_dom,A_reg,A_cont,A_year,sedthick,knn,G,F,J,K,L
0,201.0,-16.0733,-17.2717,-3855.9,marine,South Atlantic Ocean,South American Plate,2008,85.999977,0.0000,0.200705,0.000000,0.799295,0.239940,0.292253
1,214.0,-16.0733,-17.2717,-3855.9,marine,South Atlantic Ocean,South American Plate,2008,85.999977,0.0000,0.202756,0.000033,0.797244,1.106536,0.300442
2,46.0,-0.9917,81.3983,-4720.3,marine,Indian Ocean,Indo-Australian Plate,2008,1756.000000,0.0000,0.204807,0.000065,0.795193,1.973131,0.308631
3,57.0,-0.9917,81.3983,-4720.3,marine,Indian Ocean,Indo-Australian Plate,2008,1756.000000,0.0000,0.206858,0.000098,0.793142,2.839727,0.316820
4,176.0,-39.9900,-109.8550,-3194.4,marine,South Pacific Ocean,Antarctic Plate,2008,17.999983,0.0000,0.208909,0.000131,0.791091,3.706322,0.325009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30926,19.0,24.9000,122.7000,-1542.0,marine,East China Sea,Eurasian Plate - Asia,2019,1872.397949,0.0183,1.000000,0.960000,0.000000,14785.913267,-334.130187
30927,8.0,24.9200,122.7000,-1464.0,marine,East China Sea,Eurasian Plate - Asia,2019,1872.397949,0.0200,1.000000,0.960000,0.000000,14785.913267,-334.143191
30928,12.0,24.9400,122.7000,-1478.0,marine,East China Sea,Eurasian Plate - Asia,2019,1872.397949,0.0200,1.000000,0.960000,0.000000,14785.913267,-334.156196
30929,54.0,24.9600,122.7000,-1462.0,marine,East China Sea,Eurasian Plate - Asia,2019,2009.021484,0.0200,1.000000,0.960000,0.000000,14785.913267,-334.169200
30930,256.0,24.9800,122.7000,-1475.0,marine,East China Sea,Eurasian Plate - Asia,2019,2009.021484,0.0200,1.000000,0.960000,0.000000,14785.913267,-334.182204

In [5]:
class PolyRegres(object):
    def __init__(self, degree=3, coeffs=None):
        self.degree = degree
        self.coeffs = coeffs

    def fit(self, measured, predicted):
        self.coeffs = np.polyfit(measured.ravel(), predicted, self.degree)

    def get_params(self, deep=False):
        return {'coeffs': self.coeffs}

    def set_params(self, coeffs=None, random_state=None):
        self.coeffs = coeffs

    def predict(self, measured):
        poly_eqn = np.poly1d(self.coeffs)
        y_hat = poly_eqn(measured.ravel())
        return y_hat

    def score(self, measured, predicted):
        return mean_squared_error(predicted, self.predict(measured))

In [6]:
polireg = PolyRegres()

In [ ]:
polireg.fit()